@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
}

body,
.gradient {
  background: rgb(100, 201, 215);
  background: linear-gradient(180deg, rgba(100, 201, 215, 0.8996848739495799) 0%, rgba(0, 8, 20, 1) 32%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}



.download-button {
  position: relative;
}

/* Pseudo-element for the rotating border */
.download-button::before {
  content: "";
  /* Required for pseudo-elements */
  position: absolute;
  top: px;
  /* Adjust the position to center the rotating border */
  left: px;
  /* Adjust the position to center the rotating border */
  border: 2px dotted white;
  /* Set border with a transparent color to reserve space */
  border-radius: 50%;
  /* Make it a circle */
  border-right-color: transparent;
  border-left-color: transparent;
  width: 25px;
  /* Set the width and height to the desired size of the rotating border */
  height: 25px;
  animation: rotating-border 1s linear infinite;
  /* Rotate the border */
  scale: 1.20;
}

@keyframes rotating-border {
  0% {
    transform: rotate(0deg);
    /* Start with no rotation */
  }

  100% {
    transform: rotate(360deg);
    /* Rotate 360 degrees for a full circle */
  }
}

/* Css loaders */
.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #F4F4F4);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  to {
    transform: rotate(1turn)
  }
}

.loader {
  width: 8px;
  height: 40px;
  border-radius: 4px;
  display: block;
  margin: 20px auto;
  position: relative;
  background: currentColor;
  color: #FFF;
  box-sizing: border-box;
  animation: animloader 0.3s 0.3s linear infinite alternate;
}

.loader::after,
.loader::before {
  content: '';
  width: 8px;
  height: 40px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  box-sizing: border-box;
  animation: animloader 0.3s 0.45s linear infinite alternate;
}

.loader::before {
  left: -20px;
  animation-delay: 0s;
}

@keyframes animloader {
  0% {
    height: 48px
  }

  100% {
    height: 4px
  }
}



/* hide scrollbar */
.hideScrollBar::-webkit-scrollbar {
  display: none;
}


/* gradient overlay */
.gradient-overlay::after {
  z-index: 100;
  content: "hj";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

/* navbar gradient */
.navGradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 8, 20, 1) 37%);
}

/* hide details summary */
details summary::-webkit-details-marker {
  display: none !important;
}

details>summary {
  list-style: none !important;
}

details>summary::-webkit-details-marker {
  display: none !important;
}


details[open] summary~* {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -18px
  }

  100% {
    opacity: 1;
    margin-left: 0px
  }
}

/* detalil tag opening animation */
details.detailanimatation {

  transition: all 0.5s linear;
  max-height: 100px;
  overflow: hidden;

}

details.detailanimatation[open] {
  max-height: 1000px;
}

/* rotate className arrow on detail open */
details[open] summary .arrow {
  transform: rotatex(180deg);
  transition: all 0.1s linear;
}


/* scrollBar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #535353;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #292929;
}




/* register */


.container {
  background-color: #000000;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.06), 0 8px 16px rgba(255, 255, 255, 0.06);
  animation: slide-up 0.3s ease;
}

@keyframes slide-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}


/* autofill css */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 0px 0px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
}

input {
  caret-color: rgb(255, 255, 255);
}

.loading {
  width: 16px;
  height: 16px;
  position: relative;
  left: 0px;
  border-radius: 50%;
  color: #fff;
  background: currentColor;
  box-shadow: 32px 0, -32px 0, 64px 0;
}

.loading::after {
  content: '';
  position: absolute;
  left: -32px;
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #00e6e6;
  animation: move 2s linear infinite alternate;
}

@keyframes move {

  0%,
  5% {
    left: -32px;
    width: 16px;
  }

  15%,
  20% {
    left: -32px;
    width: 48px;
  }

  30%,
  35% {
    left: 0px;
    width: 16px;
  }

  45%,
  50% {
    left: 0px;
    width: 48px;
  }

  60%,
  65% {
    left: 32px;
    width: 16px;
  }

  75%,
  80% {
    left: 32px;
    width: 48px;
  }

  95%,
  100% {
    left: 64px;
    width: 16px;
  }
}

/* CSS to remove blue highlight on touch devices for all elements */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* custom spinner */
.custom-loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #00e6e6 94%, #0000) top/5px 5px no-repeat,
    conic-gradient(#0000 30%, #00e6e6);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 5px), #000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn)
  }
}


/* search bar */

.search-box {
  width: fit-content;
  height: fit-content;
}

.input-search {
  height: 50px;
  width: 0px;
  border-style: none;
  font-size: 18px;
  outline: none;
  transition: all .5s ease-in-out;
  background-color: #22a6b3;
  color: #fff;
}

.input-search::placeholder {
  color: rgba(255, 255, 255, .5);
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 100;
  font-family: 'Poppins', sans-serif;
}

.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}

.btn-search:focus~.input-search {
  width: 198px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
  width: 198px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}